| CACHE MANIFEST

| # Any updates to the schema must increment the version
| # to trigger a cache update
| # Version 2.7.2

| CACHE:
| /partials/index
| /partials/error
| /partials/settings
| /css/angular-toggle-switch.css
| /css/angular-toggle-switch-bootstrap.css
| /css/bootstrap.min.css
| /css/site.css
| /js/angular.min.js
| /js/angular.min.js.map
| /js/angular-route.min.js
| /js/angular-route.min.js.map
| /js/angular-animate.min.js
| /js/angular-animate.min.js.map
| /js/app.js
| /js/controllers/controllers.js
| /js/directives/ui-bootstrap-tpls-0.11.0.min.js
| /js/directives/angular-toggle-switch.min.js
| /js/directives/directives.js
| /js/directives/sai-app-version.js
| /js/services/services.js
| /js/services/sai-version.js
| /js/filters/filters.js
| /fonts/glyphicons-halflings-regular.eot
| /fonts/glyphicons-halflings-regular.svg
| /fonts/glyphicons-halflings-regular.ttf
| /fonts/glyphicons-halflings-regular.woff
| /images/loading.gif
| /images/large_spinner.gif
| #{apiLink}/json/schemas.json?callback=angular.callbacks._0

| NETWORK:
| *